@import "@/assets/color.scss";

.slide {
  display: block;
  position: relative;
  height: 866px;

  img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
    user-select: none;
  }

  .slide__block {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    max-width: 811px;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, rgba(113, 84, 76, 0.58) 43.07%, rgba(79, 68, 58, 0.00) 116.46%);
    padding: 174px 19px 125px 59px;

    .slide__information {
      max-width: 733px;

      .slide__title {
        color: $white;
        text-transform: uppercase;
        font-weight: 500;
        letter-spacing: 13.5px;
        line-height: 133.333%;
      }

      .slide__text {
        color: $white;
        padding-top: 55px;
        font-family: Gogol;
        font-size: 40px;
        line-height: 126.25%;
      }

      .slide__button {
        display: block;
        position: relative;
        width: 80%;
        margin-top: 137px;
        padding: 19px 112px;
        background: $button-gradient;
        color: $white;
        text-transform: uppercase;
        font-family: Jost;
        font-weight: 400;
        font-size: clamp(16px, 10vh, 25px);
        line-height: 168%;
        letter-spacing: 1.25px;
        cursor: pointer;
        transition: 0.5s;
        -webkit-transition: 0.5s;
        -moz-transition: 0.5s;
        -o-transition: 0.5s;
        white-space: nowrap;

        &:hover {
          box-shadow: 0 4px 24px #E58D62FF;
        }
      }
    }
  }
}


// Бизнесс контейнер
.business.container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

// Делюкс контейнер
.delux {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  .previev {
    background-color: white;
  }
}

// About Контейнер
.about {
  position: relative;
  max-width: 1318px;
  padding-bottom: 220px;
}
.about__title-text {
  position: relative;

  &::before, &::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 100%;
    max-width: 170px;
    height: 2px;
    background-color: #E8C8B9;
  }

  &::before {
    left: 0;
  }
  &::after {
    right: 0;
  }
}

.about__context {
  display: block;
  position: relative;
  color: #685C56;
  font-family: Gogol;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 52px;
  margin-top: 64px;
}

.about__information {
  width: 100%;
  max-width: 860px;
  height: 1110px;
  margin: auto;
  left: 0;
  right: 0;
  position: absolute;
  border: 1px solid #F0D6C9;
  z-index: -1;

  .about__information-image {
    width: 152px;
    height: 152px;
    position: absolute;
    margin: auto;
    bottom: -76px;
    left: 0;
    right: 0;

    img {
      width: 100%;
      object-fit: cover;
      pointer-events: none;
      user-select: none;
    }
  }
}

.about__title-image {
  position: relative;
  display: block;
  margin-top: 92px;

  img {
    display: block;
    margin: 0 auto;
  }
}

.about__context {
  text-align: center;
  max-width: 1176px;
  margin: 44px auto 0 auto;

  span {
    font-family: Jost;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    color: #685C56;
    line-height: 250%;
  }
}